{% extends 'layout.html' %}

{% block title %}
  Tweet List
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="text-center mb-4">
    <a href="{% url 'tweet_create' %}" class="btn btn-primary btn-lg">Create Tweet</a>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for tweet in tweets %}
      <div class="col">
        <div class="card h-100 shadow-sm">
          {% if tweet.photo %}
          <img src="{{ tweet.photo.url }}" class="card-img-top" alt="Tweet Image">
          {% endif %}

          <div class="card-body">
            <h5 class="card-title text-primary">{{ tweet.user.username }}</h5>
            <p class="card-text">{{ tweet.text }}</p>
          </div>

          {% if tweet.user == user %}
          <div class="card-footer d-flex justify-content-between">
            <a href="{% url 'tweet_edit' tweet.id %}" class="btn btn-warning btn-lg">Edit</a>
            <a href="{% url 'tweet_delete' tweet.id %}" class="btn btn-danger btn-lg">Delete</a>
          </div>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
